.pop-up {
  background: hsl(0deg 0% 0% / 50%);
  width: 100%;
  max-width: 880px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.popup_opened {
  visibility: visible;
  opacity: 1;

  /*transition: visibility 0.5s, opacity 0.5s;*/
}