.logo {
  width: 173px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 40px;
}

@media screen
and (max-width: 880px) {
  .logo {
    margin-left: 30px;
  }
}

@media screen
and (max-width: 320px) {
  .logo {
    width: 126px;
    height: 24px;
    margin: 30px 30px 30px;
  }
}